

.bg_wrapper{
  background-image: url("../img/bg_header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

//.min_container {
//  width: 100%;
//  max-width: 1170px;
//  margin: 0 auto;
//}

.clearfix{
  @include clearfix;
}
