header{

  max-height: 760px;
  padding-top: 30px;
  nav{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.22);
    background: white;
    height: 80px;
    ul {
      position: relative;
      list-style-type: none;
    }

    .menu-item{
      margin-right: 35px;
      :hover{
        opacity: 1;
      }
      a{
        text-decoration: none;
        opacity: 0.6;
        color: #282528;
        font-family: $OS;
        font-size: 13px;
        font-weight: 700;
        line-height: 80px;
        text-transform: uppercase;
      }
      display: inline;
      float: right;
    }
    .logo{
      float: left;
    }

    .logo a{
      text-decoration: none;
      color: $c_green_1;
      font-family: 'Raleway', sans-serif;
      font-size: 30px;
      font-weight: 600;
      line-height: 80px;
    }

    .logo_img{
      position: absolute;
      top: 31px;
    }
  }
  .intro{
    float: left;
    margin-right: 210px;
    h1{
      margin-top: 170px;
      color: white;
      font-family: $R;
      font-size: 42px;
      font-weight: 700;
      line-height: 15px;
    }
    p{
      color: white;
      font-family: $OS;
      font-size: 22px;
      font-weight: 600;
      line-height: 0;
    }

    ul{
      margin-top: 50px;
      margin-bottom: 80px;
      list-style-type: none;
      color: white;
      font-family: $OS;
      font-size: 16px;
      font-weight: 400;
      line-height: 36px;
      padding-left: 0;
    }

    .fa-angle-right{
      color: white;
      font-size: 24px;
      line-height: 36px;
      text-transform: uppercase;
      margin-right: 13px;
      position: relative;
      bottom: -2px;
    }

    .download_btn{
      padding: 15px 35px;
      color: white;
      font-family: $OS;
      font-size: 20px;
      font-weight: 600;
      line-height: 36px;
      background-color: $c_green_2;
      text-decoration: none;
      text-align: center;
    }

    .fa-cloud-download{
      color: white;
      font-size: 36px;
      line-height: 36px;
    }
  }
  .phones {
    margin-top: 110px;
    float: left;
  }

  .wrapper{
    padding : $wrapp;
  }
}

