$c_green_1 : #1ab798;
$c_green_2 : #17d0ac;
$c_black : #282528;
$OS : 'OpenSans', sans-serif;
$R : 'Raleway', sans-serif;
$third : 33.33%;
$wrapp : 0 35px;



@mixin vertical_strip {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 1px;
  opacity: 0.4;
  //background-color: red;
}

@mixin bg_greey {
  opacity: 0.4;
  background-color: #535b64;
}

@mixin clearfix() {
  &:before,
  &:after {
    display: table; // 2
    content: " ";   // 1
  }
  &:after {
    clear: both;
  }
}

@mixin bg{
  background-repeat: no-repeat;
  background-position-y: 20px;
  background-position-x: 10px;
}